.nav__info {
  text-align: center;
}

.nav__list {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: papayawhip;
}

.nav__item:hover {
  cursor: pointer;
}

.highlighted {
  background-color: rosybrown;
}

.nav__link {
  color: palevioletred;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 8px;
}

.nav__link:hover {
  cursor: pointer;
}
