.app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-style: solid;
}

.select {
  margin-bottom: 10px;
}

.pag_btn {
  margin-right: 10px;
  background-color: transparent;
  border: solid;
  outline: none;
  cursor: pointer;
}

.selectedButton {
  color: green;
}
