select {
  width: 50px;
  height: 30px;
}

.posts {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.post {
  display: flex;
  align-items: center;
  margin: 1px 10px;
  border: 1px solid rgb(209, 196, 196);
  border-radius: 5px;
}

h4,
p {
  margin: 0 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 30%;
}

.page_link {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid rgb(59, 30, 224);
  border-radius: 5px;
  color: blue;
}

.pages {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}
