div {
  text-align: center;
  margin-top: 40px;
}

h1 {
  margin-bottom: 60px;
}

.emoji {
  display: inline-block;
  margin: auto 5px 10px;
  font-size: 38px;
  padding: 0 5px;
}

.button {
  color: green;
  width: 30px;
  height: 30px;
}

.activ {
  background: green;
  color: rgb(241, 240, 237);
}

.next,
.prev {
  background: red;
  padding: 5.2px;
  color: rgb(248, 248, 246);
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  
}

span {
  border: 2px dotted green;
  padding: 5px;
  border-radius: 5px;
}

select {
  outline: none;
  font-size: 15px;
  margin-left: 50px;
  border-radius: 5px;
}

.paginChanged {
  border-radius: 5px;
  margin-left: 50px;
  color: rgb(250, 249, 248);
  
}

.no_changed {
  background: rgb(0, 60, 255);
}

.changed {
  background: rgb(124, 11, 216);
}

button {
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid rgb(103, 106, 110);
  background: rgb(250, 249, 248);
  margin: 0.5px;

}

.pagin {
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: bold;
}

.pagin_first {
  color: rgb(0, 60, 255);
}

.disabled {
  color: red;
}

.pagin_second {
  color: rgb(124, 11, 216);
}
